body {
    text-align: center;
    background-color: #efeef5;
    font-family: Arial, Helvetica, sans-serif;
}

table,
td,
tr {
    border: 2px solid;
    border-collapse: collapse;
    height: 30px;
    width: 500px;
    margin: auto;
}

td:first-child,
td:last-child {
    height: fit-content;
    width: fit-content;
}

img {
    height: 150px;
    width: 100px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 5px;
    margin: 2px;
    display: inline;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
    color: white;
}

.modal {
    background-color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    height: 100%;
    min-width: 300px;
    text-align: center;
}

.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 30px;
    width: 30px;
}